body {
    background-color: #333;
    color: whitesmoke;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.wrapper {
    display: flex;
    gap: 40px;
}

.container {
    text-align: center;
    border: 4px solid #ffc443;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #4d3787;
    width: 400px;
}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    margin: 24px;
    border-radius: 8px;
    background-color: #ffc443;
    height: 164px;
}

.result {
    font-size: 40px;
    font-weight: bold;
}

.maxResult {
    color: rgba(255, 0, 0, 1);
}

.buttons {
    margin: 24px;
    border-radius: 8px;
    display: flex;
    gap: 24px;
    justify-content: center;
}

.container button {
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    min-width: 128px;
    cursor: pointer;
    background-color: #ffc443;
}

.container button:hover {
    background-color: #ffab00;
}

.container button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #ffc443;
}

input {
    outline: none;
    border: 2px solid transparent;
    border-radius: 4px;
    padding: 8px;
}

.error {
    border: 2px solid red;
}

.settingsInputContainer {
    padding: 24px 24px 0 24px;
}